Source: gbs
Section: devel
Priority: extra
Maintainer: Jian-feng Ding <jian-feng.ding@intel.com>
Build-Depends: debhelper (>= 7.0.15), python-dev
Standards-Version: 3.8.0
Homepage: http://www.tizen.org

Package: gbs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 git-core,
 curl,
 osc (>= 0.131)
Description: The command line tools for Tizen package developers
  The command line tools for Tizen package developers will
  be used to do packaging related tasks. 
