Source: gbs
Section: devel
Priority: extra
Maintainer: Jian-feng Ding <jian-feng.ding@intel.com>
Build-Depends: debhelper (>= 7.0.15), python-dev
Standards-Version: 3.8.0
X-Python-Version: >= 2.7
Homepage: http://www.tizen.org

Package: gbs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-pycurl,
 git-core,
 sudo,
 osc (>= 0.136.0),
 git-buildpackage-rpm (>= 0.6.0git20121124-tizen20130123),
 depanneur (>= 0.4),
 pristine-tar,
 librpm-tizen (>= 4.10.91.tizen20121215)
Description: The command line tools for Tizen package developers
  The command line tools for Tizen package developers will
  be used to do packaging related tasks.
