Source: gbs
Section: devel
Priority: extra
Maintainer: Jian-feng Ding <jian-feng.ding@intel.com>
Build-Depends: debhelper, python (>= 2.6), python-support
Standards-Version: 3.8.0
X-Python-Version: >= 2.6
Homepage: http://www.tizen.org

Package: gbs
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-pycurl,
 sudo,
 osc (>= 0.139.0),
 git-buildpackage-rpm (>= 0.6.3-tizen20131017),
 gbs-api (= ${binary:Version}),
 gbs-export (= ${binary:Version}),
 gbs-remotebuild (= ${binary:Version}),
 depanneur (>= 0.10),
 pristine-tar (>= 1.26),
 mic (>= 0.20)
Recommends: librpm-tizen (>= 4.11.0.1.tizen20130618-tizen20131001)
Description: Command line tools for Tizen package developers
 The command line tools for Tizen package developers will
 be used to do packaging related tasks.

Package: gbs-api
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 python-pycurl,
 osc (>= 0.139.0),
 git-buildpackage-rpm
Conflicts: gbs (<< 0.15)
Replaces: gbs (<< 0.15)
Description: GBS API
 This package contains gbs APIs, which can be used by
 external software.

Package: gbs-export
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 gbs-api,
 git-buildpackage-rpm
Conflicts: gbs (<< 0.15)
Replaces: gbs (<< 0.15)
Description: GBS export API
 This package contains gbs export APIs, which can be used by
 external software.

Package: gbs-remotebuild
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
 gbs-api,
 git-buildpackage-rpm
Conflicts: gbs (<< 0.18.1)
Replaces: gbs (<< 0.18.1)
Description: GBS remotebuild API
 This package contains gbs remotebuild APIs, which can be used by
 external software.
