#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	python setup.py build

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Installing package
	mkdir -p $(CURDIR)/debian/gbs $(CURDIR)/debian/gbs/usr/bin $(CURDIR)/debian/gbs/usr/share/man/man1
	#install -m644 doc/gbs.1 $(CURDIR)/debian/gbs/usr/share/man/man1
	#make DESTDIR=$(CURDIR)/debian/gbs installman
	#make DESTDIR=$(CURDIR)/debian/gbs installconf
	#make DESTDIR=$(CURDIR)/debian/gbs installsymlinks
	python setup.py install --root=$(CURDIR)/debian/gbs --prefix=/usr --install-layout=deb

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
