<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;p&gt;This job is  designed for Tizen package building, image creation and build&#xd;
artifacts publishing by using &lt;a class=&quot;reference external&quot; href=&quot;http://en.wikipedia.org/wiki/Repo_%28script%29&quot;&gt;repo&lt;/a&gt; and &lt;a class=&quot;reference external&quot; href=&quot;https://source.tizen.org/documentation/reference/git-build-system&quot;&gt;GBS&lt;/a&gt; as basis. It can be reconfigured&#xd;
to run periodically or be manually triggered whenever needed.&lt;/p&gt;&#xd;
&lt;p&gt;With &lt;strong&gt;PUBLISH&lt;/strong&gt; option enabled, build artifacts, including build reports,&#xd;
repos and images, will be synchronized to respective download servers.&lt;/p&gt;&#xd;
&lt;p&gt;Before using this job, it is highly recommended that &lt;a class=&quot;reference external&quot; href=&quot;https://source.tizen.org/documentation/developer-guide/creating-tizen-image-scratch&quot;&gt;Creating a Tizen Image&#xd;
from Scratch&lt;/a&gt; , which is the manual equivalent of this job, is read and well&#xd;
understood.&lt;/p&gt;&#xd;
&lt;p&gt;Supported options are shown below:&lt;/p&gt;&#xd;
&lt;dl class=&quot;docutils&quot;&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;MANIFEST_URL&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;&lt;p class=&quot;first&quot;&gt;This option specifies the manifest URL, which will be recognized by the&#xd;
&lt;a class=&quot;reference external&quot; href=&quot;http://en.wikipedia.org/wiki/Repo_%28script%29&quot;&gt;repo&lt;/a&gt; command, for example, in &lt;cite&gt;tizen:scm/manifest&lt;/cite&gt;,&#xd;
&lt;cite&gt;scm/manifest&lt;/cite&gt; is the manifest path in remote tizen.org Gerrit, whereas&#xd;
&lt;cite&gt;tizen&lt;/cite&gt; is the alias set in ~/.ssh/config, an example of&#xd;
~/.ssh/config is shown below:&lt;/p&gt;&#xd;
&lt;pre class=&quot;last literal-block&quot;&gt;&#xd;
Host tizen review.tizen.org&#xd;
Hostname review.tizen.org&#xd;
Port 29418&#xd;
User &amp;lt;username&amp;gt;&#xd;
#ProxyCommand connect -S &amp;lt;proxy&amp;gt;:&amp;lt;port&amp;gt; %h %p&#xd;
&lt;/pre&gt;&#xd;
&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;MANIFEST_BRANCH&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the manifest branch used for synchronizing code, this&#xd;
value will be passed to &lt;a class=&quot;reference external&quot; href=&quot;http://en.wikipedia.org/wiki/Repo_%28script%29&quot;&gt;repo&lt;/a&gt; command directly.&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;PROFILE&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the profile used for building, currently, the valid&#xd;
values are &lt;cite&gt;IVI&lt;/cite&gt; and &lt;cite&gt;Mobile&lt;/cite&gt;&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;ARCH&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the arch to be built, currently the valid values are&#xd;
i586 and armv7l.&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;REMOTE_REPOS (optional)&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the remote repos from which packages are obtained&#xd;
during package building. Valid remote repos must contans tizen repo data,&#xd;
including buildata, images and repos in it, for example:&#xd;
&lt;a class=&quot;reference external&quot; href=&quot;http://download.tizen.org/releases/daily/tizen/ivi/ivi/tizen_20140305.14/&quot;&gt;http://download.tizen.org/releases/daily/tizen/ivi/ivi/tizen_20140305.14/&lt;/a&gt;&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;PARALEL_THREADS&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the number of builders GBS runs in parallel. Valid&#xd;
value is non-negative integer.&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;EXCLUDE_PACKAGES&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the packages that will be excluded during package&#xd;
building. This option also can be used to break dependency cycles. Multiple&#xd;
packages must be separated by comma(,)&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;BUILD_ARGS&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies more GBS build options, which will be passed to &lt;cite&gt;gbs&#xd;
build&lt;/cite&gt; command. Multiple options are supported, different options must be&#xd;
seperated by space, For more information about gbs build options, refer to&#xd;
&lt;a class=&quot;reference external&quot; href=&quot;https://source.tizen.org/documentation/reference/git-build-system/usage/gbs-build&quot;&gt;gbs build usage&lt;/a&gt;.&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;PUBLISH&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option enables the publishing of build artifacts, including build&#xd;
reports, images and repos.&lt;/dd&gt;&#xd;
&lt;dt&gt;&lt;tt class=&quot;docutils literal&quot;&gt;PUBLISH_URL&lt;/tt&gt;&lt;/dt&gt;&#xd;
&lt;dd&gt;This option specifies the URL address to publish build artifacts. The&#xd;
format of PUBLISH_URL must be the same as rsync format, which can be a&#xd;
local path or remote URL like: &lt;cite&gt;user&amp;#64;hostname:/path/to/publish_dir&lt;/cite&gt;.&lt;/dd&gt;&#xd;
&lt;/dl&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>MANIFEST_URL</name>
          <description>&lt;p class=&quot;first&quot;&gt;This option specifies the manifest URL, which will be recognized by the
&lt;a class=&quot;reference external&quot; href=&quot;http://en.wikipedia.org/wiki/Repo_%28script%29&quot;&gt;repo&lt;/a&gt; command, for example, in &lt;cite&gt;tizen:scm/manifest&lt;/cite&gt;,
&lt;cite&gt;scm/manifest&lt;/cite&gt; is the manifest path in remote tizen.org Gerrit, whereas
&lt;cite&gt;tizen&lt;/cite&gt; is the alias set in ~/.ssh/config, an example of
~/.ssh/config is shown below:&lt;/p&gt;
&lt;pre class=&quot;last literal-block&quot;&gt;
Host tizen review.tizen.org
Hostname review.tizen.org
Port 29418
User &amp;lt;username&amp;gt;
#ProxyCommand connect -S &amp;lt;proxy&amp;gt;:&amp;lt;port&amp;gt; %h %p
&lt;/pre&gt;</description>
          <defaultValue>review.tizen.org:scm/manifest</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MANIFEST_BRANCH</name>
          <description>This option specifies the manifest branch used for synchronizing code, this
value will be passed to &lt;a class=&quot;reference external&quot; href=&quot;http://en.wikipedia.org/wiki/Repo_%28script%29&quot;&gt;repo&lt;/a&gt; command directly.</description>
          <defaultValue>tizen</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>PROFILE</name>
          <description>This option specifies the profile used for building, currently, the valid
values are &lt;cite&gt;IVI&lt;/cite&gt; and &lt;cite&gt;Mobile&lt;/cite&gt;</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ivi</string>
              <string>mobile</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>REMOTE_REPOS</name>
          <description>This option specifies the remote repos from which packages are obtained
during package building. Valid remote repos must contans tizen repo data,
including buildata, images and repos in it, for example:
&lt;a class=&quot;reference external&quot; href=&quot;http://download.tizen.org/releases/daily/tizen/ivi/ivi/tizen_20140305.14/&quot;&gt;http://download.tizen.org/releases/daily/tizen/ivi/ivi/tizen_20140305.14/&lt;/a&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ARCH</name>
          <description>This option specifies the arch to be built, currently the valid values are
i586 and armv7l.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>i586</string>
              <string>armv7l</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARALEL_THREADS</name>
          <description>This option specifies the number of builders GBS runs in parallel. Valid
value is non-negative integer.</description>
          <defaultValue>4</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>EXCLUDE_PACKAGES</name>
          <description>This option specifies the packages that will be excluded during package
building. This option also can be used to break dependency cycles. Multiple
packages must be separated by comma(,)</description>
          <defaultValue>texinfo,aul,gettext</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_ARGS</name>
          <description>This option specifies more GBS build options, which will be passed to &lt;cite&gt;gbs
build&lt;/cite&gt; command. Multiple options are supported, different options must be
seperated by space, For more information about gbs build options, refer to
&lt;a class=&quot;reference external&quot; href=&quot;https://source.tizen.org/documentation/reference/git-build-system/usage/gbs-build&quot;&gt;gbs build usage&lt;/a&gt;.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PUBLISH</name>
          <description>This option enables the publishing of build artifacts, including build
reports, images and repos.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PUBLISH_URL</name>
          <description>This option specifies the URL address to publish build artifacts. The
format of PUBLISH_URL must be the same as rsync format, which can be a
local path or remote URL like: &lt;cite&gt;user&amp;#64;hostname:/path/to/publish_dir&lt;/cite&gt;.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>${JENKINS_HOME}/jenkins-scripts/job_local_full_build</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
